<div class="container">
    <section id="" class="main row mr-123 contenedor">
        <div class="contenedor-equipos row m-0 p-3">
            <div class="equipos-tabla col-md-8 p-0 ml-">
                <div class="cont-tabla border border-secondary rounded mr-4">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1 m-0">Equipos</p>
                            <div class="ml-3 ">
                                <button (click)="imprimir()" type="submit"
                                        class="no-print btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="no-print cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar..."
                                   name="search" [(ngModel)]="search" (keyup)="updateFilter()">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="equipo-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis,
                            tempora odit deserunt iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="equipo-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Tipo de equipo</th>
                                <th scope="col">Estado</th>
                                <th class="no-print" scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let equipo of equipos">
                                <div *ngIf="equipo.serial===null; else elseBlock">
                                    <td><input class="boton-accion" type=image
                                               src="assets/imagenes/more.png"
                                               width="25"
                                               height="25"
                                               (click)="setSerialEquipo(equipo)"></td>
                                </div>
                                <ng-template #elseBlock>
                                    <td (click)="setSerialEquipo(equipo)">{{equipo.serial}}</td>
                                </ng-template>
                                <td>{{equipo.tipo}}</td>
                                <td>{{equipo.estado_equipo}}</td>
                                <td class="no-print">
                                    <input class="boton-accion" type=image src="assets/imagenes/eye.png"
                                           width="25"
                                           height="25"
                                           (click)="verEquipo(equipo)">
                                    <input class="boton-accion" type=image src="assets/imagenes/edit.png"
                                           width="25"
                                           height="25"
                                           (click)="editarEquipo(equipo)">
                                    <input class="boton-accion" type=image src="assets/imagenes/store.png"
                                           width="25"
                                           height="25" data-toggle="modal" data-target="#exampleModal"
                                           (click)="updateBodegas(equipo)">
                                    <input class="boton-accion" type=image src="assets/imagenes/down.png"
                                           width="25"
                                           height="25"
                                           (click)="darBajaEquipo(equipo)">
                                    <input class="boton-accion" type=image src="assets/imagenes/trash.png"
                                           width="25"
                                           height="25"
                                           (click)="eliminarEquipo(equipo)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="equipo border border-secondary col-md-4 rounded pb-3 no-print">
                <form ngNativeValidate (submit)="guardar()" action="" class="form-equipo container-form">
                    <div class="equipos-gestor">
                        <div class="equipo-gestor-codigo form-group">
                            <label for="equipo-fecha">Fecha de registro <span
                                    class="equipo-obligatorio">*</span></label>
                            <input name="fecha_registro" [(ngModel)]="equipo.fecha_registro" id="equipo-fecha"
                                   type="date" class="form-control de" readonly="readonly">
                        </div>
                        <div class="equipo-gestor-correo form-group">
                            <label for="equipo-estado_equipo">Estado<span class="equipo-obligatorio">*</span></label>
                            <input name="estado_equipo" [(ngModel)]="equipo.estado_equipo" id="equipo-estado_equipo"
                                   type="text"
                                   class="form-control" readonly="readonly">
                        </div>
                        <div class="equipo-gestor-correo form-group">
                            <label for="">Tipo de equipo<span
                                    class="equipo-obligatorio">*</span></label>
                            <div class="input-group">
                                <div *ngIf="isEdit; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock><select name="tipo" [(ngModel)]="equipo.tipo"
                                                                class="form-control w-70 "
                                                                disabled>
                                    <option *ngFor="let tipo of tipo_equipos" value="{{tipo.tipo}}">
                                        {{tipo.tipo}}
                                    </option>
                                </select></ng-template>
                                <ng-template #elseBlock><select name="tipo" [(ngModel)]="equipo.tipo" id="rol"
                                                                class="form-control" required>
                                    <option *ngFor="let tipo of tipo_equipos" value="{{tipo.tipo}}">
                                        {{tipo.tipo}}
                                    </option>
                                </select></ng-template>
                                <input class="boton-accion input-group-addon mt-2 mb-1 ml-2" type=image
                                       src="assets/imagenes/more.png" width="25"
                                       height="25"
                                       (click)="nuevoTipoEquipo()">
                            </div>
                        </div>
                        <div class="equipo-gestor-nombre form-group">
                            <label>Descripción<span class="equipo-obligatorio">*</span></label>
                            <textarea name="descripcion" [(ngModel)]="equipo.descripcion" class="form-control" rows="5"
                                      id="textarea" required></textarea>
                        </div>
                        <div class="equipo-gestor-equipo form-group">
                            <label for="equipo-cantidad">Cantidad<span class="equipo-obligatorio">*</span></label>
                            <input name="cantidad" [(ngModel)]="equipo.cantidad" id="equipo-cantidad"
                                   class="form-control" type="number" min="0" max="1000" step="1" required>
                        </div>
                        <div class="equipo-boton">
                            <button type="submit" class="btn btn-dark btn-guardar">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ubicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Bodega<span class="equipo-obligatorio">*</span></label>
                <select name="id_bodega" [(ngModel)]="equipoSelected.id_bodega"
                        class="form-control" required (click)="updateArmarios()">
                    <option *ngFor="let bodega of bodegas" value="{{bodega.id_bodega}}">
                        {{bodega.nombre}}
                    </option>
                </select>
                <label>Armario<span class="equipo-obligatorio">*</span></label>
                <select name="id_armario" [(ngModel)]="equipoSelected.id_armario"
                        class="form-control" required (click)="updateEstantes()">
                    <option *ngFor="let armario of armarios" value="{{armario.id_armario}}">
                        {{armario.nombre}}
                    </option>
                </select>
                <label>Estante<span class="equipo-obligatorio">*</span></label>
                <select name="id_estante" [(ngModel)]="equipoSelected.id_estante" class="form-control" required>
                    <option *ngFor="let estante of estantes" value="{{estante.id_estante}}">
                        {{estante.nombre}}
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <div class="equipo-boton">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="eliminarUbicacion()">
                        Eliminar ubicación
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-dark btn-guardar" data-dismiss="modal"
                            (click)="guardarUbicacion()">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
