<div class="container">
    <section id="" class="main row mr-123 contenedor">
        <div class="contenedor-usuarios row m-0 p-3">
            <div class="usuarios-tabla col-md-8 p-0 ml-">
                <div class="cont-tabla border border-secondary rounded mr-4">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1">Gestion de Clientes</p>
                            <div class="ml-3 ">
                                <button type="submit" class=" btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="../../../assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar...">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="../../../assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="usuario-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta
                            perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis, tempora
                            odit deserunt
                            iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>{{cliente.codigo}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.estado_cliente}}</td>
                                <td>{{cliente.tipo}}</td>
                                <td>
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25"
                                           (click)="verCliente(cliente)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/edit.png"
                                           width="25" height="25"
                                           (click)="editarCliente(cliente)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarCliente(cliente)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/off.png"
                                           width="25" height="25"
                                           (click)="sancionarCliente(cliente)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="usuario border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate action="" class="form-usuario container-form" (submit)="guardar()">
                    <div class="usuarios-gestor">
                        <div class="usuario-gestor-codigo form-group">
                            <label for="usuario-codigo">Codigo
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="codigo" [(ngModel)]="cliente.codigo" id="usuario-codigo" type="text"
                                   class="form-codigo form-control" required
                                   pattern="[0-9]+">
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <label for="usuario-nombre">nombre
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="nombre" [(ngModel)]="cliente.nombre" id="usuario-nombre"
                                   type="text"
                                   class="form-control" required
                                   pattern="[A-Za-zñÑáéíóúÁÉÍÓÚñ ]+">
                        </div>
                        <div class="usuario-gestor-nombre form-group">
                            <label for="usuario-correo">Correo electronico
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="correo" [(ngModel)]="cliente.correo_electronico" id="usuario-correo"
                                   type="email"
                                   class="form-control" required>
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <label for="usuario-tipo">Rol
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <select name="tipo" [(ngModel)]="cliente.tipo" id="usuario-tipo" class="form-control"
                                    required>
                                <option value="ESTUDIANTE">Estudiante</option>
                                <option value="DOCENTE">Docente</option>
                            </select>
                        </div>
                        <div class="usuario-gestor-rol form-group">
                            <label for="usuario-estado_cliente">Estado
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <select name="estado_cliente" [(ngModel)]="cliente.estado_cliente"
                                    id="usuario-estado_cliente"
                                    class="form-control" required>
                                <option value="ACTIVO">Activo</option>
                                <option value="INACTIVO">Inactivo</option>
                            </select>
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-dark btn-guardar ">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
