<div class="container">
    <section id="" class="main row mr-123 contenedor">
        <div class="contenedor-usuarios row m-0 p-3">
            <div class="usuarios-tabla col-md-8 p-0 ml-">
                <div class="cont-tabla border border-secondary rounded mr-4">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1 m-0">Mantenimientos y reparaciones</p>
                            <div class="ml-3 ">
                                <button type="submit" class=" btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="../../../assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar..."
                                   name="search" [(ngModel)]="search" (keyup)="updateFilter()">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="../../../assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="usuario-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta
                            perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis, tempora
                            odit deserunt
                            iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Equipo</th>
                                <th scope="col">Fecha inicio</th>
                                <th scope="col">Fecha fin</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let operacion of operaciones">
                                <td>{{operacion.serial}}</td>
                                <td>{{operacion.equipo}}</td>
                                <td>{{operacion.fecha_inicio | date:'yyyy-MM-dd'}}</td>
                                <td>{{operacion.fecha_fin | date:'yyyy-MM-dd'}}</td>
                                <td>{{operacion.tipo}}</td>
                                <td>
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25"
                                           (click)="verOperacion(operacion)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/edit.png"
                                           width="25" height="25"
                                           (click)="editarOperacion(operacion)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarOperacion(operacion)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="usuario border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate action="" class="form-usuario container-form" (submit)="guardar()">
                    <div class="usuarios-gestor">
                        <div class="usuario-gestor-codigo form-group">
                            <label for="usuario-codigo">Fecha inicio de operación
                            </label>
                            <input name="fecha_inicio" [(ngModel)]="operacion.fecha_inicio" id="usuario-codigo"
                                   type="date"
                                   class="form-codigo form-control" readonly>
                        </div>
                        <div class="usuario-gestor-codigo form-group">
                            <label for="usuario-codigo">Fecha fin de operación
                            </label>
                            <input name="fecha_fin" [(ngModel)]="operacion.fecha_fin" type="date"
                                   class="form-codigo form-control" placeholder="Año/Mes/Día" required>
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <label for="usuario-nombre">Serial equipo
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="serial" [(ngModel)]="operacion.serial" id="usuario-nombre"
                                   type="text"
                                   class="form-control" required (keyup)="getEquipo()"
                                   pattern="[0-9]+">
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <label for="usuario-nombre">Nombre equipo
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="tipo" [(ngModel)]="equipo.tipo"
                                   type="text"
                                   class="form-control" readonly required>
                        </div>
                        <div class="usuario-gestor-nombre form-group">
                            <label>Tipo de operación
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <select name="tipo" [(ngModel)]="operacion.tipo" class="form-control"
                                    id="exampleFormControlSelect1" required>
                                <option value="MANTENIMIENTO">Mantenimiento</option>
                                <option value="REPARACIÓN">Reparación</option>
                            </select>
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <div class="equipo-gestor-nombre form-group">
                                <label>Descripción<span class="equipo-obligatorio">*</span></label>
                                <textarea name="descripcion" [(ngModel)]="operacion.descripcion" class="form-control"
                                          rows="5"
                                          id="textarea" required></textarea>
                            </div>
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-dark btn-guardar ">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
