<div class="container">
    <section id="" class="main row contenedor">
        <div class="contenedor-usuarios row m-0 p-3">
            <div class="usuarios-tabla col-md-8 p-0">
                <div class="cont-tabla border border-secondary rounded mr-md-4 mr-xs-0">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1 m-0">Bodegas</p>
                            <div class="ml-3 ">
                                <button (click)="imprimir()" type="submit"
                                        class="no-print btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="../../../assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="no-print cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar..."
                                   name="search" [(ngModel)]="search" (keyup)="updateFilter()">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="../../../assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="usuario-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta
                            perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis, tempora
                            odit deserunt
                            iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th class="no-print">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let bodega of bodegas" (click)="updateArmarios(bodega)">
                                <td>{{bodega.nombre}}</td>
                                <td class="no-print">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25"
                                           (click)="updateArmarios(bodega)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/edit.png"
                                           width="25" height="25"
                                           (click)="editarBodega(bodega)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarBodega(bodega)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="no-print usuario border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate (submit)="guardarBodega()" action="" class="form-usuario container-form">
                    <div class="usuarios-bodega">
                        <div class="usuario-gestor-bodega form-group">
                            <label>Nombre de Bodega
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="nombre" [(ngModel)]="bodega.nombre" type="text" class="form-control"
                                   required minlength="3">
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-dark btn-guardar">Guardar Bodega</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row m-0 p-3 w-100">
            <div class="usuarios-tabla col-md-8 p-0">
                <div class="cont-tabla border border-secondary rounded mr-md-4 mr-xs-0">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1">Armarios</p>
                        </div>
                    </div>
                    <div class="usuario-tabla-des m-2">
                        <p class="no-print"> *Seleccione una bodega en la tabla anterior </p>
                        <b>Bodega: </b> {{bodegaSelected.nombre}}
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Armario</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let armario of armarios">
                                <td>{{armario.nombre}}</td>
                                <td>
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25"
                                           (click)="updateEstantes(armario)" data-toggle="modal"
                                           data-target="#exampleModalCenter">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/edit.png"
                                           width="25" height="25"
                                           (click)="editarArmario(armario)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarArmario(armario)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="no-print usuario border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate (submit)="guardarArmario()" action="" class="form-usuario container-form">
                    <div class="usuarios-gestor">
                        <div class="usuario-gestor-estante form-group">
                            <label>Bodega
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <select name="id_bodega" [(ngModel)]="armario.id_bodega"
                                    class="form-control btn border-primary " required>
                                <option *ngFor="let bodega of bodegas" [ngValue]="bodega.id_bodega">
                                    {{bodega.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="usuario-gestor-estante form-group">
                            <label>Nombre de armario
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="nombre" [(ngModel)]="armario.nombre" type="text"
                                   class="form-control" required minlength="3">
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-dark btn-guardar">Guardar Armario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Estantes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate (submit)="addEstante()" action="" class="container-form">
                    <div class="usuario-gestor-estante form-group">
                        <label>Nombre de estante
                            <span class="usuario-obligatorio">*</span>
                        </label>
                        <input name="nombre" [(ngModel)]="estante.nombre" type="text"
                               class="form-control" required minlength="3">
                    </div>
                    <input class="boton-accion" type=image src="../../../assets/imagenes/more.png"
                           width="25" height="25">
                </form>
                <div class="usuario-tabla-t">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Estante</th>
                            <th class="no-print">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let estante of estantes">
                            <td>{{estante.nombre}}</td>
                            <td class="no-print">
                                <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                       width="25" height="25"
                                       (click)="eliminarEstante(estante)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
