.usuario-obligatorio{
  color: red;
}

.contenedor
{
  background: #ffffff;
  margin-top: 70px;
  overflow: hidden;
  border-radius: 5px;
}

.usuario
{
  background: #f2f2f2;
}

.form-usuario
{
  padding-top: 15px;
}

.usuario-boton
{
  text-align: center;
}

.btn-guardar
{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cont-tabla
{
  height: 100%;
}


.usuario-tabla-encabezado
{
  margin: 0;
  padding: 4px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6C757D;
  background: #f2f2f2;
  overflow: hidden;
}

.cont-tabla-search
{
  float: right;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.cont-tabla-search-input
{
  border: none;
  background: none;
}

.cont-tabla-search-input:focus
{
  background: none;
  border: none;

}

.usuario-tabla-encabezado-contenedor
{
  padding: 0;
  margin: 0;
  height: 40px;
}

.contenedor-imagen-lupa
{
  border-left: 1px solid #6C757D;
}

