<div class="container">
    <section id="" class="main row mr-123 contenedor">
        <div class="contenedor-usuarios row m-0 p-3">
            <div class="usuarios-tabla col-md-8 p-0">
                <div class="cont-tabla border border-secondary rounded mr-4">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class=" pl-1 m-0">Usuarios</p>
                            <div class="ml-3 ">
                                <button type="submit" class="no-print btn btn-dark d-flex align-text-center btn-usuario"
                                        (click)="imprimir()">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="../../../assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="no-print cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar..."
                                   name="search" [(ngModel)]="search" (keyup)="updateFilter()">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="../../../assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class=" usuario-tabla-des m-2">
                        <p>
                            Los usuarios son las personas con acceso al manejo del sistema y dependiendo de su rol
                            podran realizar
                            determinadas acciones. En la barra superior el boton superior podra imprimir la información
                            detallada
                            en la siguiente tabla y podra realizar busquedas escribiendo el código, nombre o estado del
                            usuario.
                        </p>
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Rol</th>
                                <th class="no-print" scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td>{{usuario.codigo}}</td>
                                <td>{{usuario.nombre_persona}}</td>
                                <td>{{usuario.estado}}</td>
                                <td>{{usuario.tipo === 'DEPARTAMENTO'?'JEFE DEP FIS':
                                    usuario.tipo === 'LABORATORIO'?'JEFE LAB':
                                    usuario.tipo === 'AUXILIAR'?'AUX LAB':'- error -'}}
                                </td>
                                <td class="no-print">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25"
                                           (click)="verUsuario(usuario)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/edit.png"
                                           width="25" height="25"
                                           (click)="editarUsuario(usuario)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarUsuario(usuario)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/off.png"
                                           width="25" height="25"
                                           (click)="inhabilitarUsuario(usuario)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="no-print usuario border border-secondary col-md-4 rounded">
                <form ngNativeValidate (submit)="guardar()" action="" class="form-usuario container-form">
                    <div class="usuarios-gestor">
                        <div class="usuario-gestor-codigo form-group">
                            <label for="usuario-codigo1">Código <span class="usuario-obligatorio">*</span></label>
                            <input name="codigo" [(ngModel)]="usuario.codigo" id="usuario-codigo1" type="text"
                                   class="form-control" required
                                   pattern="[0-9]+">
                        </div>
                        <div class="usuario-gestor-nombre form-group">
                            <label for="usuario-nombre">Nombre <span class="usuario-obligatorio">*</span></label>
                            <input name="nombre_persona" [(ngModel)]="usuario.nombre_persona" id="usuario-nombre"
                                   type="text" class="form-control" required
                                   pattern="[A-Za-zñÑáéíóúÁÉÍÓÚñ ]+">
                        </div>
                        <div class="usuario-gestor-correo form-group">
                            <label for="usuario-correo">Correo electrónico<span
                                    class="usuario-obligatorio">*</span></label>
                            <input name="correo_electronico" [(ngModel)]="usuario.correo_electronico"
                                   id="usuario-correo" type="email" class="form-control" required>
                        </div>
                        <div class="usuario-gestor-rol form-group">
                            <label for="rol">Rol<span class="usuario-obligatorio">*</span></label>
                            <select name="tipo" [(ngModel)]="usuario.tipo" id="rol"
                                    class="form-control" required>
                                <option value="AUXILIAR">Auxiliar de laboratorio</option>
                                <option value="LABORATORIO">Jefe de laboratorio</option>
                                <option value="DEPARTAMENTO">Jefe de departamento</option>
                            </select>
                        </div>
                        <div class="usuario-gestor-estado form-group">
                            <label for="usuario-estado">estado<span class="usuario-obligatorio">*</span></label>
                            <select name="estado" [(ngModel)]="usuario.estado" id="usuario-estado"
                                    class="form-control" required>
                                <option value="ACTIVO">Activo</option>
                                <option value="INACTIVO">Inactivo</option>
                            </select>
                        </div>
                        <div class="usuario-gestor-usuario form-group">
                            <label for="usuario-codigo">Usuario<span class="usuario-obligatorio">*</span></label>
                            <input name="nombre_usuario" [(ngModel)]="usuario.nombre_usuario" id="usuario-codigo"
                                   type="text" class="form-control" required>
                        </div>
                        <div class="usuario-gestor-contraseña form-group">
                            <label for="usuario-codigo2">Contraseña<span class="usuario-obligatorio">*</span></label>
                            <input name="clave" [(ngModel)]="usuario.clave" id="usuario-codigo2" type="password"
                                   class="form-control" required>
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-primary btn-dark bg-dark btn-guardar btn-usuario">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
