.contenedor {
    background: #ffffff;
    margin-top: 70px;
    height: 800px;
    border-radius: 5px;
}

div label span {
    color: red;
}

.encabezado {
    font-size: 1.2rem;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.usuario {
    background: #f2f2f2;
}

.form-usuario {
    padding-top: 15px;
}

.usuario-boton {
    text-align: center;
}

.btn-guardar {
    font-size: 1.19rem;
    height: 35px;
    margin-top: 10px;
}

.cont-tabla {
    height: 100%;
}

.boton-accion {
    margin-left: 0.2em;
}

.contenedor-imagen-lupa {
    border-left: 1px solid #6C757D;
}

.usuario-tabla-encabezado-contenedor {
    padding: 0px;
    margin: 0px;
    height: 40px;
    text-align: center;
}

.cont-tabla-search-input {
    border: none;
    background: none;
}

.cont-tabla-search-input:focus {
    background: none;
    border: none;

}

.cont-tabla-search {
    float: right;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

.usuario-tabla-encabezado {
    margin: 0px;
    padding: 4px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #6C757D;
    background: #f2f2f2;
    overflow: hidden;
}

.encabezado {
    font-size: 1.2rem;
    width: 200px;
    margin: 0px;
    padding: 0px 0px 0px 8px;
    float: left;
}

.btn-usuario {
    color: white;
    width: 130px;
    background: #4D4D4D;
    border-color: #4D4D4D;
    font-size: 1.15rem;
    border-radius: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    border: none;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}