<nav *ngIf="login!==null" class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" routerLink="/home">SILUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   id="dropdown1">
                    Sistema
                </a>
                <ul aria-labelledby="dropdown1" class="dropdown-menu">
                    <li class="dropdown-item" routerLink="/usuarios">
                        <a> Usuarios </a>
                    </li>
                    <li class="dropdown-item" routerLink="/home">
                        <a> Configuración </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   id="dropdown2">
                    Información básica
                </a>
                <ul aria-labelledby="dropdown1" class="dropdown-menu">
                    <li class="dropdown-item" routerLink="/equipos">
                        <a> Equipos </a>
                    </li>
                    <li class="dropdown-item" routerLink="/clientes">
                        <a> Clientes </a>
                    </li>
                    <li class="dropdown-item" routerLink="/bodegas">
                        <a> Bodega </a>
                    </li>
                    <li class="dropdown-item" routerLink="/laboratorios">
                        <a> Laboratorios </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                >
                    Gestión de equipos
                </a>
                <ul aria-labelledby="dropdown1" class="dropdown-menu">
                    <li class="dropdown-item" routerLink="/prestamos">
                        <a> Prestamos </a>
                    </li>
                    <li class="dropdown-item" routerLink="/solicitudes">
                        <a> Solicitudes </a>
                    </li>
                    <li class="dropdown-item" routerLink="/sanciones">
                        <a> Sanciones </a>
                    </li>
                    <li class="dropdown-item" routerLink="/kardex">
                        <a> Kardex </a>
                    </li>
                    <li class="dropdown-item" routerLink="/operaciones">
                        <a> Operaciones </a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="navbar-brand" routerLink="/ayuda">
                <img src="../assets/imagenes/help.png" width="30" height="30" alt="">
            </a>
            <a style="color: gray ">Bienvenido {{login}} &nbsp;&nbsp;</a>
            <button class="btn my-2 my-sm-0" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
        </form>
    </div>
</nav>
<div class="container" style="margin-top: 1%">
    <router-outlet></router-outlet>
</div>

