<div class="container">
    <section id="" class="main row contenedor">
        <div class="contenedor-usuarios row m-0 p-3">
            <div class="usuarios-tabla col-md-8 p-0">
                <div class="cont-tabla border border-secondary rounded mr-md-4 mr-xs-0">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1 m-0">Solicitudes de adecuación</p>
                            <div class="ml-3 ">
                                <button type="submit" class=" btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="../../../assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar...">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="../../../assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="usuario-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta
                            perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis, tempora
                            odit deserunt
                            iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="usuario-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Laboratorio</th>
                                <th scope="col">Fecha adecuación</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let solicitud of solicitudes">
                                <td>{{solicitud.codigo}}</td>
                                <td>{{solicitud.nombre}}</td>
                                <td>{{solicitud.laboratorio}}</td>
                                <td>{{solicitud.fecha_adecuacion}}</td>
                                <td>{{solicitud.estado_solicitud_adecuacion}}</td>
                                <td>
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                                           width="25" height="25" data-toggle="modal"
                                           data-target="#modalEquiposSolicitud"
                                           (click)="verDetalleSolicitud(solicitud)">
                                    <input class="boton-accion" type=image src="../../../assets/imagenes/trash.png"
                                           width="25" height="25"
                                           (click)="eliminarSolicitud(solicitud)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="usuario border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate (submit)="guardar()" action="" class="form-usuario container-form">
                    <div class="usuarios-bodega">
                        <div class="usuario-gestor-bodega form-group">
                            <label>Fecha solicitud </label>
                            <input name="fecha_solicitud" [(ngModel)]="solicitud.fecha_solicitud"
                                   type="date"
                                   class="form-control"
                                   readonly>
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Fecha de adecuación </label>
                            <input name="fecha_adecuacion" [(ngModel)]="solicitud.fecha_adecuacion"
                                   type="date"
                                   class="form-control"
                                   placeholder="Año/Mes/Día" required>
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Código cliente
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="codigo" [(ngModel)]="solicitud.codigo"
                                   type="text" class="form-control"
                                   pattern="[0-9]+"
                                   required (keyup)="getCliente()">
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Nombre cliente </label>
                            <input name="nombre" [(ngModel)]="solicitud.nombre" type="text" class="form-control"
                                   readonly required>
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Laboratorio
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <select name="id_laboratorio" class="form-control" id="exampleFormControlSelect1"
                                    [(ngModel)]="solicitud.id_laboratorio" required>
                                <option *ngFor="let laboratorio of laboratorios"
                                        [ngValue]="laboratorio.id_laboratorio">{{laboratorio.nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Hora ingreso
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="hora_ingreso_sala" [(ngModel)]="solicitud.hora_ingreso_sala"
                                   type="time"
                                   class="form-control" required placeholder="hh:mm:ss">
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Hora salida
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="hora_salida_sala" [(ngModel)]="solicitud.hora_salida_sala"
                                   type="time"
                                   class="form-control" required placeholder="hh:mm:ss">
                        </div>
                        <div class="usuario-gestor-bodega form-group">
                            <label>Puestos de trabajo
                                <span class="usuario-obligatorio">*</span>
                            </label>
                            <input name="puestos_trabajo" [(ngModel)]="solicitud.puestos_trabajo" id="equipo-cantidad"
                                   class="form-control" type="number" min="0" max="1000" step="1" required>
                        </div>
                        <div class="usuario-boton">
                            <button type="submit" class="btn btn-dark btn-guardar">Realizar
                                solicitud
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modalEquiposSolicitud">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Equipos de la solicitud</h4>
                <button type="button" class="close" data-dismiss="modal">&times;
                </button>
            </div>
            <div class="modal-body">
                <div class="usuario-tabla-encabezado ">
                    <form ngNativeValidate (submit)="addEquipoSolicitud()" class="form-inline" style="margin-top: 10px">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1">Detalle de la solicitud &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </div>
                        <div class="form-group mb-2">
                            <label>Tipo de equipo</label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <select name="id_tipo_equipo" class="form-control" required
                                    [(ngModel)]="equipoSolicitud.id_tipo_equipo">
                                <option *ngFor="let tipo of tiposEquipos" [ngValue]="tipo.id_tipo_equipo">
                                    {{tipo.tipo}}
                                </option>
                            </select>
                        </div>
                        <input type="submit" class="boton-accion" type=image src="../../../assets/imagenes/more.png"
                               width="28" height="28">
                    </form>
                </div>

                <div>
                    <div *ngIf="detalleSolicitud.id_solicitud_adecuacion!=='0'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <div class="tabla-2-columnas-left">
                            <b>Fecha solicitud: </b> {{detalleSolicitud.fecha_solicitud}}
                            <br>
                            <b>Hora de ingreso: </b>{{detalleSolicitud.hora_ingreso_sala}}
                            <br>
                            <b>Puestos de trabajo: </b> {{detalleSolicitud.puestos_trabajo}}
                        </div>
                        <div class="tabla-2-columnas-right">
                            <b>Fecha adecuación: </b> {{detalleSolicitud.fecha_adecuacion}}
                            <br>
                            <b>Hora de salida: </b> {{detalleSolicitud.hora_salida_sala}}
                        </div>
                    </ng-template>
                    <ng-template #elseBlock>Seleccione la solicitud que desee en la tabla anterior</ng-template>
                </div>
                <div class="usuario-tabla-t">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Tipo equipo</th>
                            <th scope="col">Disponibles</th>
                            <th scope="col">Cantidad solicitud</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let equipo of equiposSolicitud">
                            <td>{{equipo.tipo}}</td>
                            <td>{{equipo.total}}</td>
                            <td>
                                <input name="cantidad" [(ngModel)]="equipo.cantidad"
                                       class="form-control" type="number" min="0" max="1000" step="1" required>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-guardar" data-dismiss="modal"
                        (click)="updateDetalle()">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


