.container{
  width: 100%;
  height: 700px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.bloque-login
{
  text-align: center;
  padding: 15px 0px;
  border-radius: 3%;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.login-formulario
{
  padding: 0px 45px;
}

.login-usuario-row, .login-contrasena-row
{
  text-align: center;
  height: 2.2rem;
  padding-left: 5px;
  margin-top: 10px;
  border: 2px solid rgb(132, 132, 132);
  border-radius: 5px;
}

.img-correo, .img-key
{
  width: 30px;
  float: left;
  text-align: center;
}

#usuario, #contrasena
{
  border: none;
  outline: none;
  background: none;
  color:black;
  font-size: 1rem;
  width: 79%;
  float: left;
  margin: 7px 3px;
}

.login-conexion-login
{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.login-group-row
{
  margin: 10px 0px;
}

.login-conainer-check{
  margin: 0px 4px;
}

.login-group-check-row
{
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari y Chrome */
  -o-transform: scale(2.3); /* Opera */
}

.login-boton-row
{
  width: 240px;
  height: 40px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  background:#4D4D4D;
  color:white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-transition-duration:1s;
  -webkit-transition-duration:1s;
  transition-duration:1s;
}

.login-boton-row:hover
{
  background: white;
  color:#4D4D4D;
  border: 2px solid #4D4D4D;
}

.login-boton-row:focus
{
  outline: none;
}


