<div class="usuario-tabla-t">
    <button class="btn btn-dark btn-guardar" style="float: right; margin-bottom: 15px">Añadir equipo</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Serial</th>
            <th scope="col">Tipo de equipo</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let equipo of equipos" (click)="verEquipo(equipo)">
            <td>{{equipo.serial}}</td>
            <td>{{equipo.tipo_equipo}}</td>
            <td>
                <input class="boton-accion" type=image src="../../../assets/imagenes/eye.png"
                       width="25" height="25"
                       (click)="verEquipo(equipo)">
            </td>
        </tr>
        </tbody>
    </table>
</div>