<div class="container">
    <section id="" class="main row mr-123 contenedor">
        <div class="contenedor-equipos row m-0 p-3">
            <div class="equipos-tabla col-md-8 p-0 ml-">
                <div class="cont-tabla border border-secondary rounded mr-4">
                    <div class="usuario-tabla-encabezado ">
                        <div class="usuario-tabla-encabezado-contenedor d-flex align-items-center float-left row">
                            <p class="pl-1 m-0">Prestamos</p>
                            <div class="ml-3 ">
                                <button (click)="imprimir()" type="submit"
                                        class="no-print btn btn-dark btn-guardar d-flex align-text-center">
                                    <img class="tabla-encabezado-contenedor-imprimir mr-1"
                                         src="assets/imagenes/imprimir.png"
                                         alt="Icon imprimir"
                                         width="25">
                                    Imprimir
                                </button>
                            </div>
                        </div>
                        <div class="no-print cont-tabla-search border border-secondary d-flex align-items-center">
                            <input type="text" class="cont-tabla-search-input" placeholder="Buscar..."
                                   name="search" [(ngModel)]="search" (keyup)="updateFilter()">
                            <div class="w-100 h-100 m-0 p-0 d-flex align-items-center pl-1 contenedor-imagen-lupa">
                                <img src="assets/imagenes/search.png" alt="buscar usuario." width="23"
                                     class="cnt-tabla-search-img ">
                            </div>
                        </div>
                    </div>
                    <div class="equipo-tabla-des m-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda explicabo, velit earum
                            dicta perspiciatis obcaecati minus ut ratione, repellendus architecto accusantium debitis,
                            tempora odit deserunt iste, vel. Architecto, aliquam, itaque.
                        </p>
                    </div>
                    <div class="equipo-tabla-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Código Cliente</th>
                                <th scope="col">Nombre Equipo</th>
                                <th scope="col">Fecha Préstamo</th>
                                <th scope="col">Fecha prevista de devolución</th>
                                <th scope="col">Estado</th>
                                <th class="no-print" scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let prestamo of prestamos">
                                <td>{{prestamo.codigo}}</td>
                                <td>{{prestamo.nombre}}</td>
                                <td>{{prestamo.fecha_solicitud | date:'yyyy-MM-dd'}}</td>
                                <td>{{prestamo.fecha_prevista}}</td>
                                <td>{{prestamo.estado_prestamo}}</td>
                                <td class="no-print">
                                    <input class="boton-accion" type=image src="assets/imagenes/eye.png"
                                           width="25"
                                           height="25"
                                           (click)="verPrestamo(prestamo)">
                                    <input class="boton-accion" type=image src="assets/imagenes/ok.png"
                                           width="25"
                                           height="25"
                                           (click)="terminarPrestamo(prestamo)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="no-print equipo border border-secondary col-md-4 rounded pb-3">
                <form ngNativeValidate (submit)="guardar()" action="" class="form-equipo container-form">
                    <div class="equipos-gestor">
                        <div class="equipo-gestor-codigo form-group">
                            <label>Fecha de prestamo</label>
                            <input name="fecha_solicitud" [(ngModel)]="prestamo.fecha_solicitud"
                                   type="date" class="form-control" readonly="readonly">
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Fecha de devolución<span
                                    class="equipo-obligatorio">*</span></label>
                            <input name="fecha_prevista" [(ngModel)]="prestamo.fecha_prevista"
                                   type="date" class="form-control" required>
                        </div>
                        <div class="equipo-gestor-correo form-group">
                            <label>Código cliente<span class="equipo-obligatorio">*</span></label>
                            <input name="codigo" [(ngModel)]="prestamo.codigo" pattern="[0-9]+"
                                   type="text" required minlength="3" maxlength="8"
                                   class="form-control" (keyup)="getCliente()">
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Nombre cliente<span
                                    class="equipo-obligatorio">*</span></label>
                            <input name="nombre" [(ngModel)]="prestamo.nombre"
                                   type="text" class="form-control" disabled required>
                        </div>
                        <div class="equipo-gestor-correo form-group">
                            <label>Serial equipo<span class="equipo-obligatorio">*</span></label>
                            <input name="serial" [(ngModel)]="prestamo.serial" type="text"
                                   class="form-control" (keyup)="getEquipo()" required pattern="[0-9]+"
                                   minlength="3" maxlength="8">
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Tipo de equipo<span
                                    class="equipo-obligatorio">*</span></label>
                            <input name="tipo_equipo" [(ngModel)]="prestamo.tipo_equipo"
                                   type="text" class="form-control" readonly="readonly" required>
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Bodega</label>
                            <input name="descripcion_bodega" [(ngModel)]="prestamo.nombre_bodega"
                                   type="text" class="form-control" readonly="readonly">
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Armario</label>
                            <input name="armario" [(ngModel)]="prestamo.nombre_armario"
                                   type="text" class="form-control" readonly="readonly">
                        </div>
                        <div class="equipo-gestor-codigo form-group">
                            <label>Estante</label>
                            <input name="estante" [(ngModel)]="prestamo.nombre_estante"
                                   type="text" class="form-control" readonly="readonly">
                        </div>
                        <div class="equipo-boton">
                            <button type="submit" class="btn btn-dark btn-guardar">Realizar préstamo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
